.separar{
	margin: 12px;

}
.botons{
	margin-left: 1px;
	font-size: 20px;
	width: 10%;
	height: 35px;
}

#botona{
	margin-left: 1px;
	font-size: 18px;

}


body{
	
	margin-left: 470px;
	background-color: rgba(138,159,183,0.31);
}
.centrar{
	margin: -19px;
}

h1{
	font: bold;
	margin-left: -44px;
	margin-top: 40px;
	font-size: 102px; 
	color: red;
}
h2{
	font: bold;
	color: blue;
	margin-left: -27px;
	margin-top: 93px;
	font-size: 40px; 
	color: rgba(108,126,147,1);
}

.botonjugar{
	margin-left: 144px;
}
#borrar{
	display: none;
}
#borrar2{
	display: block;
}
.field1{
	margin-right: 571px;
	margin-left: 39px;
	padding-right: 90px;
	background-color: rgba(207,201,201,1);

}
.field2{
	margin-left: 39px;
	margin-right: 563px;
	margin-top: 35px;
	margin-bottom: -1px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 50px;
	padding-right: 194px;
	color: rgba(115,115,115,1);
	background-color: rgba(73,163,223,0.56); 
}
input{
	box-sizing: border-box;
	border: 2px solid #ccc;
	transition: 0.5s;
	width: 214px;
	height: 46px;
	font-size: 35px;

}
.error{
	width: 9%;
	position: relative;
	top: 20px;
	right: 9px;
}
.incorrectos{
	font-size: 53px;
	position: relative;
	bottom: 71px;
	left: 61px;
}
.acierto{
	width: 9%;
}

.aciertos{
	font-size: 53px;
	position: relative;
	left: 65px;
}
.acc{
	margin-left: -63px;
}
#ac{
	position: relative;
	right: -351px;
	top: -110px;
	font-size: 50px;
}
#in{
	position: relative;
	font-size: 50px;
	right: -351px;
	top: -179px;
}